{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url({{
asset('pictures/background.jpg') }});">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Snow Tricks</h1>
                    <h3>Bienvenue sur le site communautaire des fous de snowboard.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <div class="title">
                <h2>Basic Elements</h2>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
