<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        {% include 'assets/meta_date.html.twig' %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include "assets/navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% include "assets/footer.html.twig" %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
